@import "tailwindcss";

@theme {
  --color-primary-925: #18003e;
  --color-primary-900: #400799;
  --color-primary-800: #5509cc;
  --color-primary-700: #6a0bff;
  --color-primary-600: #883cff;
  --color-primary-500: #a66dff;
  --color-primary-400: #c39dff;
  --color-primary-300: #d2b6ff;
  --color-primary-200: #e1ceff;
  --color-primary-100: #f0e7ff;

  --color-error-900: #880727;
  --color-error-800: #af0932;
  --color-error-700: #d50b3e;
  --color-error-600: #f3164e;
  --color-error-500: #f53d6b;
  --color-error-400: #f76489;
  --color-error-300: #f98ba6;
  --color-error-200: #fbb1c4;
  --color-error-100: #fdd8e1;

  --color-warning-900: #faaf00;
  --color-warning-800: #ffc233;
  --color-warning-700: #ffce5c;
  --color-warning-600: #ffda85;

  --color-success-900: #17663a;
  --color-success-800: #1e874c;
  --color-success-700: #26a95f;
  --color-success-600: #2dca72;

  --color-neutral-900: #191919;
  --color-neutral-800: #303030;
  --color-neutral-700: #474747;
  --color-neutral-600: #5e5e5e;
  --color-neutral-500: #757575;
  --color-neutral-400: #8c8c8c;
  --color-neutral-300: #a3a3a3;
  --color-neutral-200: #bababa;
  --color-neutral-100: #d1d1d1;
  --color-neutral-50: #e8e8e8;
  --color-neutral-25: #f4f4f4;
}

#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  font-family: Manrope, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  /* max-width: 1216px; */
  margin: 0 auto;
  @apply bg-neutral-100;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
